:root {
    --primary: #ffee02;
    --light-yellow: #fffab3;
    --white: #fff;
    --light-white: #eee;
    --black: #000;
    --secondary-black: #111;
    --counter-black: #080808;
    --counter-black-2: #161616;
    --gray: #444;
    --gray-bg: #f7f6f2;
    --card-bg: #f7f6f2;
    --card-side: #c1c1c1;
}